<h1>Hello World from Index</h1>

<a href="/demo/hello">Hello Page - 1</a> <br />
<%= link_to('Hello Page - 2', {:action => 'hello'}) %> <br />
<%= link_to('Hello Page with Parameters', {:action => 'hello', :page => 5, :id => 20}) %>