<%  @page_title = "Create New Section" %>
<%= link_to("<< Back to Section List", sections_path, :class => "back-link") %>

<div class="sections new">
    <h2> Create New Section </h2>

    <%= form_for(@section) do |f| %>

       <%= render(partial: 'form', locals:{f:f}) %>

        <div class="form-buttons">
            <%= f.submit("Create Section") %>
        </div>


    <% end %>


</div>